* {
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
    --neumo-color: #e0e0e0;
    --neumo-shadow-dark: #bebebe;
    --neumo-shadow-light: #ffffff;
}

html {
    background-color: var(--neumo-color);
    color: var(--primary-color);
    transition: 0.5s;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
    --neumo-color: #3a3a3a;
    --neumo-shadow-dark: #313131;
    --neumo-shadow-light: #434343;
}

body {
    font-family: 'Heebo', sans-serif;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: scroll;
    margin: 0;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 350px;
    min-height: 350px;
    border-radius: 50px;
    background: var(--neumo-color);
    box-shadow: 30px 30px 60px var(--neumo-shadow-dark), 
                -30px -30px 60px var(--neumo-shadow-light);
    transition: 0.5s;
    margin: 35px;
    padding: 30px;
}

.responsible {
    min-height: 0px;
}

.toggle {
    position: relative;
    display: inline-block;
    min-width: 80px;
    min-height: 40px;
    cursor: pointer;
}

.toggle input {
    display: none;
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid var(--neumo-color);
    border-radius: 20px;
    box-shadow: 4px 4px 8px var(--neumo-shadow-dark),
                -4px -4px 8px var(--neumo-shadow-light),
                inset 4px 4px 8px var(--neumo-shadow-dark),
                inset -4px -4px 8px var(--neumo-shadow-light);
    background-color: var(--neumo-color);
    transition: 0.5s;
}

.toggle-slider:before {
    position: absolute;
    bottom: 5px;
    left: 10px;
    z-index: 999;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px var(--neumo-shadow-dark),
                -3px -3px 5px var(--neumo-shadow-light);
    background-color: var(--neumo-color);
    content: "";
    transition: 0.5s;
}

.toggle-light {
    position: absolute;
    top: 14px;
    right: 12px;
    color: #3d3935;
    font-size: .8125rem;
}

.toggle-dark {
    position: absolute;
    top: 14px;
    left: 14px;
    color: #f252a5;
    font-size: .8125rem;
}

input:checked + .toggle-slider:before {
    transform: translateX(33px);
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
}

.needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: 0.5s;
}

.needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.center-point:after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.time {
    font-size: 60px;
    color: var(--primary-color);
}

.date {
    color: #888;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: 0.5s;
    font-size: 12px;
}

.todo-input form {
    width: 290px;
    display: flex;
    justify-content: space-between;
}

.todo-item {
    width: 235px;
    height: 40px;
    border: 2px solid var(--neumo-color);
    border-radius: 20px;
    padding: 0 20px;
    box-shadow: 4px 4px 8px var(--neumo-shadow-dark),
                -4px -4px 8px var(--neumo-shadow-light),
                inset 4px 4px 8px var(--neumo-shadow-dark),
                inset -4px -4px 8px var(--neumo-shadow-light);
    background-color: var(--neumo-color);
    transition: 0.5s;
}

.todo-item input {
    width: 191px;
    height: 36px;
    border: none;
    color: var(--primary-color);
    background-color: #00ff0000;
}

.input-button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #888;
    background: var(--neumo-color);
    box-shadow: 4px 4px 8px var(--neumo-shadow-dark),
                -4px -4px 8px var(--neumo-shadow-light);
    transition: 0.5s;
}

.input-button:hover {
    cursor: pointer;
}

.todo-list ul {
    margin: 0px;
    padding: 0px;
}

.todo-list li {
    width: 290px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 15px 0 0 0;
    padding: 0 20px;
    list-style-type: none;
    box-shadow: inset 4px 4px 8px var(--neumo-shadow-dark),
                inset -4px -4px 8px var(--neumo-shadow-light);
    background-color: var(--neumo-color);
    color: var(--primary-color);
    transition: 0.5s;
}